@import './header.css';
@import './sidebard.css';

.turmas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.front h3 {
    text-align: center;
}

.front h4 {
    margin-top: 22.5px; 
    margin-left: 4.5px; 
    text-align: justify;
    font-size: calc(var(--font-h4) * 0.9); 
}



.front {
    position: relative;
    background: #311878;
    border-radius: 18px; 
    height: 182.916px;
    width: 194.625px;
    color: var(--text-color);
}

.front i {
    display: flex;
    justify-content: center;
    padding-top: 58.5px; 
    font-size: 63px;
}

.turmas-title {
    color: var(--primary-color);
    margin-left: 270px;
    justify-content: center;
    margin-top: 135px; 
}

.container {
    width: 45%; 
    height: 45vh; 
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px; 
    margin-left: 800px;
    margin-right: 20px;
}

.calendar {
    width: 20.7rem; 
    height: 333px; 
    background-color: #8767E0;
    box-shadow: 0 0.225rem 1.35rem rgba(0, 0, 0, 0.4);
    border-radius: 10px; 
}

.month {
    width: 302.4px; 
    height: 49.5px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.9rem;
    text-align: center;
    text-shadow: 0 0.135rem 0.225rem rgba(0, 0, 0, 0.5); 
    border-radius: 5px;
}

.month i {
    font-size: 1.125rem; 
    cursor: pointer;
    color: #311878;
}

.month h1 {
    font-size: 1.35rem; 
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.09rem; 
    margin-bottom: 0.45rem; 
    color: #311878;
}

.month p {
    font-size: 0.72rem; 
}

.weekdays {
    width: 100%;
    height: 2.25rem; 
    padding: 0 0.18rem;
    display: flex;
    align-items: center;
}

.weekdays div {
    font-size: 0.675rem; 
    font-weight: 400;
    letter-spacing: 0.045rem; 
    width: calc(19.89rem / 7); 
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.135rem 0.225rem rgba(0, 0, 0, 0.5);
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.09rem;
}

.days div {
    font-size: 0.63rem;
    margin: 0.135rem; 
    width: calc(18.09rem / 7);
    height: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.135rem 0.225rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.09s;
}

.days div:hover:not(.today) {
    background-color: var(--main-color);
    border: 0.09rem solid var(--primary-color); 
    cursor: pointer;
    border-radius: 25px;
}

.prev-date,
.next-date {
    opacity: 0.8;
}

.today {
    background-color: var(--primary-color);
    border: 0.09rem solid var(--main-color);
    border-radius: 25px; 
}

.menu-Titulo{
    margin-bottom: 25px;
    margin-top: 100px;
    margin-left: 250px;
    color: #311878;
}

.main {
    display: flex;
    margin-left: 250px;
    gap: 10px;
}

.main1 {
    display: flex;
    margin-left: 250px;
    gap: 10px;
    margin-top: 10px;
}

.front, .front1{
    align-items: center;
    position: relative;
    border: 2px solid #8767E0;
    border-radius: 10px;
    color: var(--text-color);
    position: relative;
      width: 100px;
      height: 30px;
      display: flex;
      flex-direction: column;
      cursor: pointer;
}

.front1 i{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 10px;
    cursor: pointer;
    color: #311878;
  }

.front1 h1{
    color: #311878;
    font-size: 15px;
    margin-top: 5px;
}

.front1:hover{
    border: 2px solid #311878;
    background-color: #8767E0;
}

.front1:hover h1, .front1:hover i{
    color: white;
}

.place{
    margin-left: 250px;
    font-size: 15px;
    color: #311878;
    display: flex;
    gap: 10px;
}

.front1 hr{
    height: 2px;
}

.place h2{
    margin: 25px;
    margin-bottom: -8px;
}

.front2, .front3{
    position: relative;
    border: 2px solid #8767E0;
    border-radius: 10px;
    color: var(--text-color);
    position: relative;
      width: 90px;
      height: 30px;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      align-items: center;
}

.front2 h1{
    color: #311878;
    font-size: 15px;
    margin-top: 5px;
}

.front2:hover{
    border: 2px solid #311878;
    background-color: #8767E0;
}

.front3:hover{
    border: 2px solid #311878;
    background-color: #8767E0;
}

.front2:hover h1, .front2:hover i, .front3:hover h1{
    color: white;
}

.dia h5{
    margin-bottom: 10px;
    font-size: 20px;
    margin-left: 27px;
}
.mes h5{
    margin-bottom: 10px;
    font-size: 20px;
    margin-left: 27px;
}
.ano h5{
    margin-bottom: 10px;
    font-size: 20px;
    margin-left: 27px;
}
.tag h5{
    margin-bottom: 10px;
    font-size: 20px;
    padding-left: 12px;
}


.front3{
    position: relative;
    border: 2px solid #8767E0;
    border-radius: 10px;
    color: var(--text-color);
    position: relative;
    width: 140px;
    height: 30px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-left: 10px;
}

.front3 i{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 10px;
    cursor: pointer;
  }

.front3 h1{
    color: #311878;
    font-size: 15px;
    margin-top: 5px;
}

.tag h5{
    margin-left: -5px;
}

.box {
    background: var(--main-color);
    border-radius: 15px;
    margin-top: 40px;
    width: 600px;
    height: 250px;
    margin-left: 250px;
}

.box input{
    background-color: lightgrey;
    margin-left: 10px;
    border-radius: 15px;
    width: 500px;
    height: 30px;
    margin-top: 200px;
    padding-left: 20px;
}

.box i{
    font-size: 20px;
    cursor: pointer;
}

.org-eventos{
   margin-top: -200px;
}