@import '../css/header.css';
@import '../css/sidebard.css';

.form {
  position: absolute;
  z-index: 2;
  top: 50px;
  left: 50px;
  margin-left: 200px;
}

.form h2 {
  margin-top: 40px;
  color: #311878;
}

.container,
.container-form {
  width: 600px;
  margin-top: 50px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}


.opcaoContainer {
  margin-left: 10px;
}


.container input,
textarea,
.container-form input,
textarea {
  border: none;
  outline: none;
  max-width: 600px;
  max-height: 80px;
}

input::placeholder {
  font-size: 18px;
}

textarea::placeholder {
  font-size: 15px;
}

.container-form input::placeholder,
.container-form input {
  font-weight: bold;
  color: black;
}

.container-form input {
  font-size: 18px;
}

.container-form textarea {
  font-size: 15px;
}

.container input::placeholder {
  font-weight: bold;
  color: black;
}

.container input {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.container textarea {
  font-size: 15px;
}

.opcoesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
  gap: 15px;
  margin-left: -330px;
}

/*Fim Form*/

.config{
  margin-top: 20px;
  width: 500px;
  height: 0px;
  margin-left: 1000px;
  background-color: var(--second-color);
  position: fixed;
  transition: .2s;
  overflow: hidden;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3) inset;
}

.config.expandir{
  margin-left: 1000px;
  margin-top: 60px;
  background-color: var(--second-color);
  position: fixed;
  width: 400px;
  height: 1000px;
}

.config h2{
  margin-top: 20px;
  margin-right: 5px;
  color: #fff;
  display: flex;
  margin-left: 20px;
}

.btn-expandi{
  margin-top: 70px;
  margin-left: 1280px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-color);
  position: fixed;
  z-index: 10;
  border-radius: 10px;
}

.btn-expandi h2{
  text-align: center;
}

.btn-expandi i{
  cursor: pointer;
  color: white;
}

.itens {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  gap: 5px;
}

li {
  list-style-type: none;
}


.item{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fe{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;  
}

.text-information {
  gap: 10px;
  display: flex;
}

.front {
  cursor: pointer;
}

.back {
  margin-left: 580px;
}

#listaTurmas {
  margin-top: 15px;
  max-height: 150px;
  overflow-y: auto;
  padding: 10px;
}

select{
  width: 300px;
  border-radius: 10px;
}

/**/
.buttons {
  margin-top: 10px;
  margin-bottom: 10px;
}

.onoff {
  display: flex;
  margin-top: 15px;
  gap: 15px;
}

.onoff h5 {
  margin-top: 5px;
  color: #311878;
}

.onoff input.toggle {
  display: none;
}

.onoff input.toggle+label {
  display: inline-block;
  position: relative;
  box-shadow: inset 0 0 0px 1px #d5d5d5;
  height: 30px;
  width: 60px;
  border-radius: 30px;
  cursor: pointer;
  background: #ccc;
}

.onoff input.toggle+label:before {
  content: "";
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background: rgba(19, 191, 17, 0);
  transition: 0.1s ease-in-out;
}

.onoff input.toggle+label:after {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0px;
  border-radius: 30px;
  background: #fff;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: 0.1s ease-in-out;
}

.onoff input.toggle:checked+label:before {
  width: 60px;
  background: #311878;
}

.onoff input.toggle:checked+label:after {
  left: 30px;
  box-shadow: inset 0 0 0 1px #311878, 0 2px 4px rgba(0, 0, 0, 0.2);
}

.buttons h5 {
  color: white;
}