@import '../css/header.css';
@import '../css/sidebard.css';

.forms {
  position: absolute;
  z-index: 2;
  top: 80px;
  left: 50px;
  margin-left: 200px;
}

.form{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border: 2px solid #8767E0;
  height: 40px;
  border-radius: 10px;
  background-color: #F8F6F6;
  cursor: pointer;
}

.centro h2{
  margin-top: 30px;
  margin-bottom: 30px;
  color: #311878;
}

.form:hover{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border: 2px solid var(--primary-color);
  height: 40px;
  border-radius: 10px;
  background-color: #8767E0;
  cursor: pointer;
}
.form h5{
  color: #311878;
}

.form h2{
  margin-top: 40px;
  margin-bottom: 30px;
  color: #311878;
}

.form:hover .text h5{
  color: #F8F6F6;
}

.analise {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: -95px;
}

.reco {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: -95px;
}

.alunos {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: -95px;
}

.hr {
  height: 3px;
  background: black;
  width: 80%;
  margin-left: 40px;
}

.nome-formulario {
  font-size: 10px;
  margin-top: 10px;
  
  display: flex;
  justify-content: center;
}

.nome-formulario h2{
  color: white;
}
.desen {
  margin-top: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.perce {
  background: var(--primary-color);
  border-radius: 25px;
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.perce h3 {
  color: white;
  margin-bottom: 30px;
  
}

.resp {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.arc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hr1 {
  height: 3px;
  background: #fff;
  width:100%;
  margin-left: -10px;
}

.expl {
  margin-left: 15px;
  margin-top: 15px;
  font-size: 15px;
  color: #fff;
}

.suges h1 {
  margin-left: 15px;
  margin-top: 10px;
  color: var(--bg-color);
  font-size: 13px;
}

.expl1 {
  margin-left: 15px;
  margin-top: 15px;
  font-size: 20px;
  color: #fff;
}

.list-aluno {
  height: 300px;
  margin-left: 18px;
  width: 300px;
  overflow-y: auto;
}

.list-aluno select {
  background-color: var(--main-color);
  color: white;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  border: 2px solid black;
  text-align: center;
}

.config {
  width: 400px;
  height: 0px;
  margin-left: 1000px;
  background-color: var(--second-color);
  position: fixed;
  transition: .2s;
  overflow: hidden;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3) inset;
}

.config.expandir {
  margin-top: 60px;
  margin-left: 950px;
  background-color: var(--second-color);
  position: fixed;
  width: 400px;
  height: 1000px;
}

.config h3 {
  margin-top: 20px;
  margin-right: 10px;
  color: #fff;
  display: flex;
  margin-left: 20px;
}

.config hr{
  width: 100%;
  margin-top: 20px;
}

.btn-expandi {
  margin-left: 1280px;
  margin-top: 70px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-color);
  position: fixed;
  z-index: 10;
  border-radius: 10px;
}

.btn-expandi h2 {
  text-align: center;
}

.btn-expandi i {
  cursor: pointer;
  color: white;
}

.itens {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  gap: 5px;
}

li {
  list-style-type: none;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Media query para resoluções até 1366px (por exemplo, monitores de computador) */
@media only screen and (max-width: 1366px) {
  .barra {
    padding-left: 220px;
  }
}

/* Media query para resoluções entre 1367px e 1920px (por exemplo, monitores de computador maiores) */
@media only screen and (min-width: 1367px) and (max-width: 1920px) {
  .barra {
    padding-left: 140px;
  }
}

/* Media query para resoluções de TV (por exemplo, 1921px em diante) */
@media only screen and (min-width: 1921px) {
  .barra {
    /* Aplique estilos específicos para a resolução da TV aqui */
    padding-left: 80px;
    /* Substitua pelo valor desejado */
  }
}

body.dark-mode {
  background-color: #1c1c1c;
  color: white;
}

.barra-lateral.dark-mode {
  background-color: #311878;
}

header.dark-mode {
  background-color: #311878;
  color: white;
}

body.dark-mode .centro h2{
  color: white;
}