@import './header.css';
@import './sidebard.css';

.fav h2{
    margin-left: 300px;
    margin-top: 40px;
    color: var(--primary-color);
}

.div-fav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 600px;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    width: 300px;
    height: 30px;
    border-radius: 10px;
}

.div-fav i{
    padding-left: 10px;
}