*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

:root{
    --bg-color: #F8F6F6;
    --text-color: white;
    --main-color: #8767E0;
    --primary-color: #311878;
    --second-color: rgba(135, 103, 224);
    --font-h4: 22px;
}

body{
    background: var(--bg-color);
    height: 100vh;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10;
    background: var(--second-color);
}

#header i, p {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    
}

.title{
    display: flex;
    margin-left: -100px;
    gap: 25px;
    color: white;
}

.tittle h2{
    margin-left: 40px;
}

.log{
    color: white;
    cursor: pointer;
}

#header{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.divBusca{
    display: flex;
}

.divBusca input{
    border: 1px solid black;
    outline: none;
    border-radius: 15px;
    font-size: 18px;
    padding: 10px;
    width: 500px;
}

#magnifying{
    margin-left: -50px;
    margin-top: 15px;
}